@font-face {
    font-family: "glacialIndifferenceFont";
    src:url("fonts/GLACIAL-INDIFFERENCE.REGULAR.OTF")
}


:root {
    --background : #242424;
    background-color: var(--background);
    color: white;
    font-family: "glacialIndifferenceFont";
    --small-font: 20px;
    --semi-font: 40px;
    --large-font: 80px;
    --huge-font: 120px;
}
@media screen and (max-width: 1449px){
    :root{
        --small-font: 15px;
        --semi-font: 20px;
        --large-font: 60px;
        --huge-font: 100px;
    }
}
binary-element{
    display:inline;
}

body{
    /* overflow: hidden; */
    max-height: 100vh;
}
.counter{ 
    display: fixed;
    top: 0;
    font-size: var(--semi-font);
    text-align: center;
}

.counter input{
    background-color: var(--background);
    color: white;
    font-size: var(--semi-font);
    width: 2.5em;
    outline: none;
    border: 0px;
    text-decoration: underline grey;
}

.amountSelect li{
    user-select: none;
    font-size: var(--small-font);
    list-style-type: none;
    max-width: 100px;
    transition: font-size 1s;
}

.amountSelect li:hover{
    font-size: var(--semi-font);
    cursor: pointer;
}

.center {
    display: flex;
    place-items: center;
    min-height: 70vh;
    justify-content: center;
}
.binary{
    user-select: none;
    text-align: center;
    display: flex;
}

binary-element{
    width: 6em;
    margin: var(--small-font);
    cursor: pointer;
}

.bit{
    --h: 1.2em;
    color: #0000;
    grid-row: 1;
    font-size: var(--huge-font);
    line-height: var(--h);
    margin-bottom: 24px;
    text-shadow:
        0 calc(-1*var(--_t, 0em)) white,
        0 calc(var(--h) - var(--_t, 0em)) white;
    overflow: hidden;
    transition: .2s;
}

.animate{
    --_t : var(--h)
}

.legendNumber{
    font-size: var(--large-font);
    grid-row: 2;
    transition: text-shadow 1.5s;
    transition: color 1s;
}

.legendNumberToggled{
    color:#afafaf;
    text-shadow: 0px 0px 20px #afafaf ;
}

.legendNumberUntoggled{
    color: #494949;
    text-shadow: none;  
}