dialog{
    font-size: large;
    position: relative;
    border-radius: 10px;
    border: none;
    float: right;
    background-color: var(--dark-gray);
    max-width: 25vw;
    cursor: grab;
    color: #fff
}

.grabbed{
    cursor: grabbing;
}

dialog button{
    outline: none;
    border: none;
    padding: 8px;
    font-size: large;
    background-color: var(--light-gray);
    color: var(--background);
    border-radius: 2px;
    border: none;
    float: right;
}

dialog .continueButton{
    float: right;

}

dialog .closeButton{
    margin-right: 8px;
}

dialog button:hover{
    cursor: pointer;
    color: var(--dark-gray);
}