@font-face {
    font-family: "glacialIndifferenceFont";
    src:url("fonts/GLACIAL-INDIFFERENCE.REGULAR.OTF")
}

:root {
    background-color: #242424;
    color: white;
    font-family: "glacialIndifferenceFont";

}
binary-element{
    display:inline;
}

body{
    /* overflow: hidden; */
    max-height: 100vh;
}
.counter{
    display: fixed;
    top: 0;
    text-align: center;
}

.amountSelect li{
    user-select: none;
    font-size: 20px;
    list-style-type: none;
    transition: font-size 1s;
}

.amountSelect li:hover{
    font-size: 40px;
    cursor: pointer;
}

.center {
    display: flex;
    place-items: center;
    min-height: 80vh;
    justify-content: center;
}
.binary{
    user-select: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8);
}
.bit{
    grid-row: 1;
    font-size: 120px;
}

.legendNumber{
    font-size: 80px;
    grid-row: 2;
    transition: color 1s;
}

.legendNumberToggled{
    color:#afafaf;
}

.legendNumberUntoggled{
    color: #494949;  
}